@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  @apply max-w-[600px] mx-auto pt-20;
}

.page-body {
  padding-bottom: 64px;
  opacity: 0;
  animation: fadeInUp 0.6s ease-out forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.page-body p {
  margin-top: 16px;
}

blockquote {
  border-left: 4px solid black;
  padding-left: 16px;
  margin-top: 32px;
  margin-bottom: 32px;
  font-style: italic;
}
